.fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: var(--space-xxs) 0 var(--space-sm);
}

.label {
  font-size: 0.75rem;
  margin-bottom: var(--space-xxs);
  color: var(--text-color);
}

.input {
  border: 1px solid #eef0f6;
  padding: var(--space-sm);
  outline: none;
  border-radius: var(--border-radius);
  color: var(--text-dark-color);

  &:focus {
    border: 1px solid var(--primary-color);
  }
}

.error {
  color: var(--danger-color);
  font-size: 0.75rem;
  margin-top: var(--space-xxs);
}
